$primary-color: #231f20;
$secondary-color: #1f2124;
$terciary-color: #a6aaab;

* {
  font-family: inter, sans-serif;
  padding: 0;
  margin: 0;

  color: $secondary-color;

  input {
    height: 1.5rem;
    border: 1px solid $terciary-color;
    border-radius: 4px;
    padding: 4px 8px;
  }

  label {
    font-weight: 600;
  }

  textarea {
    resize: vertical;
    padding: 4px 8px;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 12px;
  }

  h4 {
    font-size: 9px;
  }

  p {
    font-size: 9px;
    line-height: 1.5;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-buttons {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  justify-content: end;

  button {
    font-size: 14px;
    padding: 8px 16px;
    border: 1px solid $terciary-color;
    border-radius: 4px;
    color: $secondary-color;
    background-color: white;
  }

  .save-btn {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    color: white;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
